* {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}

/* Header */
header {
  background-color: #6582f8;
  overflow-x: hidden;
}
/* Balance */
.balance {
  border: 1px solid #eef0f4;
  border-radius: 16px;
  box-shadow: 0px 8px 16px -4px #eef0f4;
}
.balance__total {
  color: #697df0 !important;
}

.balance__income {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  color: #69c876;
}
.balance__expenses {
  width: 100%;
  color: #de696e;
}

/* Arrow */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg) translate(-50%, -50%);
}

/* TransactionGroup */

.transaction-group__list {
  border: 1px solid #eef0f4;
  border-radius: 8px;
  box-shadow: 0px 8px 16px -4px #eef0f4;
  margin: 0.5rem 0;
}

/* Delete Button */
.delete-btn {
  cursor: pointer;
  background-color: #e74c3c !important;
  border: 0;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  padding: 2px 10px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-45%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.transaction-group__list:hover .delete-btn {
  opacity: 1;
}

@media (min-width: 576px) {
  .balance__income {
    border-bottom: none;
    border-right: 1px solid #e6e6e6;
  }
}
